</div>
      </div> <!-- row from header ends here -->
</div> <!-- headers container ends here -->

<br><br><br>
<hr>
<p class=text-center>Copyright &COPY; 3DLads</p>
<!-- /.container -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

  <script src="/js/main.js"></script>
  /* <script src="/js/popper.min.js"></script> */

</body>

</html>