.pa {
  display: inline-block;
  height: 160px;
}
.productImage {
  width: 150px;
}

.p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.spi {
  display: block;
  width: 100%;
}

ul.gallery li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}

.cpi {
  width: 100px;
}

.align-middle td {
  vertical-align: middle !important;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}